body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
}
.menu, .cart-item {
    margin: 10px 0;
}
.menu button, .cart-item button {
    margin-left: 10px;
}